<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center border-success">
      <h2 class="text-center mb-3"><img src="/images/logo.png" alt="" width="100" height="100"></h2>
      <h2 class="text-center mb-3">UACAS Employers</h2>

      <h6>
        <p>Welcome, Create an account or login</p>
      </h6>
      <a href="/users/login" class="btn btn-success btn-block">Login</a>
      <a href="/users/register" class="btn btn-success btn-block mb-2">Register</a>
    </div>
  </div>
</div>